
* {
  margin: 0px;
}

.navbar {
  overflow: hidden;
  background-color: rgb(98, 7, 189);
  font-family: Arial;
 

}
.navbar a {
  float: left;
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-top: 25px;
  margin-bottom: 25px;

}

.dropdown {
  float: left;
  overflow: hidden;
  margin-top: 25px;
  margin-bottom: 25px;

}

.dropdown .dropbtn {
  font-size: 20px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  border-color: black;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: rgb(245, 157, 7);
  color: rgb(0, 0, 0);
  translate: 0px;
  text-decoration: underline;
  border-radius: 10px;
  border-style: groove;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-decoration: none;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;

}
.dropdown-content a:hover {
  background-color: #ddd;
  text-decoration: none;
  border-color: #ddd;
  margin-right: 15px;

}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/*Our logo css here*/
.logo {
  height: 100px;
  float: left;
}

.searchentry {
  float: right;
  font-size: 15px;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
  margin-top: 30px;
  margin-bottom: 25px;

  border-radius: 20px;
}

.a1{
  float: right;
}

.a1 input {
  font-size: 15px;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
  margin-top: 30px;
  margin-bottom: 25px;
  border-radius: 20px;
}

.a2{
  display: none;
  position: absolute;
  top: 70px;
  background-color: white;
  width: 220px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-decoration: none;
}

.a2 a{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.a2 a:hover{
  border: 2px solid black;
  border-radius: 10px;
  background-color: blanchedalmond;
  width: 185px;
}

.searchbtn {
  height: 37px;
  width: 40px;
  float: right;
  font-size: 20px;
  color: black;
  text-align: center;
  padding: 4px 16px;
  text-decoration: none;
  margin-top: 30px;
  margin-bottom: 25px;
  margin-right: 20px;
  border-radius: 20px;
  background-image: url(./searchlogo.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.searchbtn:hover {
  cursor: pointer;
}

/* #photo{
height: 1000px
} */

/* Invite wala box ab */
.invite {
  border-color: black;
  width: 60%;
  height: 300px;
  border-radius: 40px;
  display: inline-block;
}

.form-inline {
  display: flex;
  margin-left: 200px;
  padding-top: 80px;
}

.invcode {
  height: 50px;
  width: 400px;
  font-size: 15px;
  border-color: black;
  margin-left: 20px;
  padding-left: 30px;
  margin-top: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.join {
  width: 80px;
  height: 50px;
  font-size: 16px;
  border-radius: 12px;
  background-color: greenyellow;
  margin-top: 10px;
  font-weight: bolder;
  margin-left: 15px;
  text-decoration: none;
}

.joinquiz {
  text-decoration: none;
  color: black;
}

.join:hover {
  background-color: orange;
}

.invitecode {
  margin-top: 1.5%;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.createlink {
  text-decoration: none;
  color: black;
}

.join2 {
  height: 60px;
  width: 40%;
  font-size: 18px;
  border-color: black;
  margin-left: 45%;
  margin-top: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: orange;
  color: black;
  font-weight: bold;
}

.join2:hover {

  background-color: rgb(10, 140, 196);
  color: rgb(0, 0, 0);

}

.signin {
  display: inline-block;
  /* align-items: center; */
  justify-content: center;
  height: 190px;
  width: 39.5%;
  text-decoration: none;
  padding-top: 105px;
  /* width: 597.24px; */
  border-radius: 30px;

}

.every1 {
  margin-top: 0px;
  background-color: antiquewhite;
  background-image: url("./bgg3.png");
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
 




}

.signin4 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  border-color: rgb(0, 0, 0);

}

.signin2 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  margin-bottom: 3%;
  margin-top: 3%;
  margin-left: 20%;
  font-size: 150%;
}

.signin3 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;

}

.si4 {
  background-color: greenyellow;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  border-color: rgb(0, 0, 0);
  margin-left: 50%;
  border-radius: 12px;
  height: 40px;
}

.si3 {
  background-color: greenyellow;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  border-color: rgb(0, 0, 0);
  margin-left: 50%;
  border-radius: 12px;
  height: 40px;
}

.si4:hover {
  background-color: orange;
  color: black;

}

.si3:hover {
  background-color: orange;
  color: black;

}

/*Scroller here*/


/* .maths{
  width: 100px;
  height: 100px;
  border: solid black;
  
  background-color: aqua;
 

}
.science{
  width: 100px;
  height: 100px;
  border: solid black;
  background-color: aqua;
}
.computer{
  width: 100px;
  height: 100px;
  border: solid black;
  background-color: aqua;
}
.subjects{
  display: flex;
} */
div.scrollmenu {
  margin-top: 40px;
  background-color: #02829f;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  width: 300px;
  height: 300px;
  font-weight: bold;
  font-size: 35px;
  /* box-shadow: #b51010; */
  border: solid black;
}

div.scrollmenu a:hover {
  background-color: rgba(167, 27, 6, 0.461);
  opacity: 0.75;
}

/* from here we have maths.css */
/* .mathsphoto{
background-image:url("maths1.jpeg");
height: 300px;
background-repeat: no-repeat;

} */
.bottom {
  width: 100%;
  height: 25px;
  background-color: rgb(68, 68, 68)
}

.bottom2 {
  width: 100%;
  height: 40px;
  background-color: black;
}

.matt {
  background-image: url("m1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.sci {
  background-image: url("s1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.comp {
  background-image: url("c1.jpg");
  background-repeat: no-repeat;
  background-size: 330px 330px;
}

.eng {
  background-image: url("e1.jpg");
  background-repeat: no-repeat;
  background-size: 330px 330px;
}

.hum {
  background-image: url("ss1.jpg");
  background-repeat: no-repeat;
  background-size: 330px 330px;
}

.gen {
  background-image: url("g1.jpg");
  background-repeat: no-repeat;
  background-size: 330px 330px;
}

.bt {
  float: right;
  position: relative;
  top: 10px;
  right: 30px;
  margin-left: 25px;
  text-decoration: none;
  color: antiquewhite;
  font-size: 18px;
}

.bt:hover {
  color: rgb(236, 85, 85);
}
.information{
  background-color: #02829f;
  width: 96%;
  height: 600px;
  padding-left: 100px;
  border-radius: 40px;
padding-left: 30px;
margin-top: 30px  ;
border:groove black;
margin-left: 10px;
margin-right: 10px;
}
.why{
font-size: 60px;
  padding-left: 33%;
  color: rgb(177, 210, 30);
  text-decoration: underline;
}
.desc{
font-size: 30px;


}
.contact{
  font-size: large;
  height: 250px;
  width: 55%;
  background-color: rgba(255, 0, 128, 0.322);
  border-radius: 3px;
  margin-left: 25%;
  margin-right: 40%;
  margin-top: 1%;
  margin-bottom: 13%;
}
.dev{

  border: solid brown;
  width: 20%;
  border-radius: 10px;
}
.aboutt{
margin-top: 30px;
  border: solid brown;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  height:500px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
.dev{
  margin-left: 10px;
}
.dev1{
  margin-left: 10px;
}
.ab{
  margin-left: 10px ;
}
.contacts1{
font-size: 300%;
margin-top: 2%;
margin-left: 45%;
margin-left: 45%;
margin-bottom: 1%;
background-color: orange;
width: 13%;
border-radius: 3px;
padding-left: 10px;
padding-right: 10px;
}
